 
<ion-content [fullscreen]="true"  > 
  <div class="login-container">
    <ion-card class="login-card">
      <ion-card-header>
        <ion-card-title class="login-title">DronStore</ion-card-title>
      </ion-card-header>

      <ion-card-content>

        <!-- Imagen del logo -->
        <div class="logo-container">
          <img src="../../assets/img/drone.png" alt="Logo" class="logo">
        </div>

        <ion-item class="input-item">
          <ion-label position="floating" color="primary">Email</ion-label>
          <ion-input  [(ngModel)]="email" type="email"></ion-input>
        </ion-item>

        <ion-item class="input-item">
          <ion-label position="floating" color="primary">Password</ion-label>
          <ion-input [(ngModel)]="password" type="password"></ion-input>
        </ion-item>

        <!-- Boton Login-->
        <ion-button expand="block"  (click)="login()" class="login-button" >Login</ion-button>
        
        <ion-button expand="block" fill="clear" color="light" (click)="CrearCuenta()"  class="register-button">Registrarse</ion-button>

        <ion-text class="forgot-password" color="medium">
          <a href="#">Olvidaste tu contraseña</a>
        </ion-text>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
